<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DinoLauncher"
        tools:targetApi="35">

        <!--    Manage elements activity    -->
        <activity
            android:name=".ManageElementsActivity"
            android:label="@string/dino_elements_manager"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity="com.brightbox.dino.ManageElementsActivity"
            android:theme="@style/Theme.DinoLauncher"/>

        <!--    Preferences activity    -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_name"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:excludeFromRecents="false"
            android:taskAffinity="com.brightbox.dino.SettingsActivity"
            android:theme="@style/Theme.DinoLauncher"/>

        <!--    Time limit overlay activity    -->
        <activity
            android:name=".TimeLimitOverlayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity="com.brightbox.dino.TimeLimitOverlayActivity"
            android:theme="@style/Theme.DinoLauncher"/>

        <!--    Main activity    -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DinoLauncher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TimeLimitService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService"/>

    </application>

</manifest>